{% load i18n %}
{% load django_bootstrap5 %}

<div class="card mb-3">
    <div class="card-body bg-light">
        <form class="form-inline center" method="get">
            {% bootstrap_field filter.form.payment_type %}
            {% bootstrap_field filter.form.card_type %}
            {% bootstrap_field filter.form.account_type %}
            {% bootstrap_field filter.form.owner_name %}
            {% bootstrap_field filter.form.phone_number %}
            {% bootstrap_field filter.form.limit %}
            <input class="btn btn-primary" type="submit" value="{% translate 'Показать результаты' %}">
        </form>
    </div>
</div>