{% extends 'base.html' %}

{% load i18n %}

{% block header %}
{% translate "Реквизиты" %}
{% endblock %}

{% block total_objects_amount %}
{% translate "Общее количество объектов:" %} {{ total_checking_accounts_amount }}
{% endblock %}

{% block objects_amount_on_page %}
{% translate "Кол-во объектов на странице:" %} {{ checking_accounts|length }}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="w-100">
                {% include 'payment_requests/checking_account/table.html' %}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="w-100">
                {% include 'payment_requests/checking_account/filter.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block pagination %}
{% include 'includes/pagination.html' %}
{% endblock %}