{% extends 'base.html' %}

{% load i18n %}

{% block total_objects_amount %}
{% translate "Общее количество объектов:" %} {{ total_payment_requests_amount }}
{% endblock %}

{% block objects_amount_on_page %}
{% translate "Кол-во объектов на странице:" %} {{ payment_requests|length }}
{% endblock %}



{% block header %}
{% translate "Заявки на оплату" %}
{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>{% translate "id"|upper %}</th>
        <th>{% translate "сумма"|capfirst %}</th>
        <th>{% translate "реквизиты"|capfirst %}</th>
        <th>{% translate "статус"|capfirst %}</th>
    </tr>
    </thead>
    <tbody>
    {% for payment_request in payment_requests %}
    <tr>
        <td>{{ payment_request.id|truncatechars:10 }}</td>
        <td>{{ payment_request.amount }}</td>
        <td>{{ payment_request.account }}</td>
        <td>{{ payment_request.get_status_display }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block pagination %}
{% include 'includes/pagination.html' %}
{% endblock %}