{% extends 'base.html' %}

{% load i18n %}

{% block header %}
{% translate "Пользователи" %}
{% endblock %}

{% block total_objects_amount %}
{% translate "Общее количество объектов:" %} {{ total_users_amount }}
{% endblock %}

{% block objects_amount_on_page %}
{% translate "Кол-во объектов на странице:" %} {{ users|length }}
{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>{% translate "id"|upper %}</th>
        <th>{% translate "имя пользователя"|capfirst %}</th>
        <th>{% translate "является админом"|capfirst %}</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>
            {% if user.is_staff %}
                {{ '✅' }}
            {% else %}
                {{ '✖️' }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
    {% include 'includes/pagination.html' %}
{% endif %}

{% endblock %}