{% extends 'base.html' %}

{% load i18n %}

{% block header %}
{% translate "Пользователи" %}
{% endblock %}

{% block total_objects_amount %}
{% translate "Общее количество объектов:" %} {{ total_users_amount }}
{% endblock %}

{% block objects_amount_on_page %}
{% translate "Кол-во объектов на странице:" %} {{ users|length }}
{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>{% translate "id"|upper %}</th>
        <th>{% translate "имя пользователя"|capfirst %}</th>
        <th>{% translate "роль"|capfirst %}</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        {% if user.is_superuser %}
            <td class="text-danger">
                {% translate "админ"|capfirst %}
            </td>
        {% elif user.is_staff %}
            <td class="text-primary">
                {% translate "персонал"|capfirst %}
            </td>
        {% else %}
            <td>
                {% translate "пользователь"|capfirst %}
            </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block pagination %}
{% include 'includes/pagination.html' %}
{% endblock %}